main {
  background-color: #253574;
  color: white;
}
#panorama {
  width: 1024;
  height: 768px;
}
.big-arrow {
  background-image: url('./arrow.png');
  height: 40px;
  width: 40px;
  background-size: cover;
}
#section__tour > #panorama {
  min-height: 300px;
}
#section__heading {
}
@media (max-width: 992px) {
  .heading__top {
    display: grid;
    grid-template-columns: 1fr;
  }
  .heading__bottom {
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .donate__button {
    display: none;
  }
  .heading__top > p {
    display: none;
  }
}